.epicButton{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #982649;
    color: white;
    display: inline-block;
    padding: 12px 18px;
    margin: 10px 0px;
}
.epicButton:hover{
    background-color: #701b35;
}
html{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 8px; /*8 on the top and bottom, 8 on the left and the right*/
    margin: 32px; /* excluding the border */
    color: #2f2d2e;
}
/*color boxes are a class*/
.color_box{
    height: 75px; /*boxes of color will be 75px squares*/
    width: 160px;
}
/* color pallate IDs **/
#orange{background-color: #f18f01;}
#pink{background-color: #982649;}
#blue{background-color: #aec5eb;}
#charcoal{background-color: #2e4057;}
#jet{background-color: #2f2d2e;}

/* text ids**/
button {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #aec5eb;
    border: none;
    padding: 12px 24px;     /* size inside */
    min-width: 200px;       /* makes all buttons the same width */
    text-align: center;     /* text centered */
}


button:hover{
    background-color: #f18f01;
}

p{
    font-size: 16px;
}
.small_text{
    font-size: 12px;
}
h3{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-size: 20px;
    color:#2e4057;
}
h2{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-size: 24px;
    color:#2e4057;
}
h1{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-size: 32px;
    color:#2e4057;
}
/*for links*/
a{
    text-decoration: none;
    color: #982649;
}
a:hover{
    text-decoration: underline;
    color: #f18f01;
}
a:visited{
    color: #2e4057;
}
